header {
    width: 100%;
    margin-bottom: 50px;
}

header .container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    cursor: pointer;
}

.header__logo h1{
    margin: 0;
    color: red;
}

header ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

header ul li {
    position: relative;
}

header ul li a {
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    transition: color .2s ease;
    padding: 3px 10px;
    margin: 0 20px;
    cursor: pointer;
}

header ul li a:hover {
    color: #ff0000;
}

header ul li a:hover::after,
header ul li a:hover::before {
    width: 100%;
    left: 0;
}

header ul li a::after,
header ul li a::before {
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    width: 0;
    right: 0;
    height: 3px;
}

header ul li a span {
    padding-left: 10px;
}

header ul li a::before {
    transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
    background: #2196f3;
}

header ul li a::after {
    transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    background: #F44336;
}

.user_menu {
    margin-left: 20px;
    z-index: 1000;
    background: #000;
}

.user_menu > a {
    color: #ffffff;
    font-size: 26px;
    border: 2px solid #ff0000;
    border-radius: 5px;
    min-width: 200px;
    padding: 5px 20px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 30px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow: 1px 1px 30px 0 rgba(255, 0, 0, 1);
    box-shadow: 1px 1px 30px 0 rgba(255, 0, 0, 1);
    cursor: pointer;
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 1000;
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_menu > a:hover {
    -webkit-box-shadow: inset 1px 1px 30px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow: inset 1px 1px 30px 0 rgba(255, 0, 0, 1);
    box-shadow: inset 1px 1px 30px 0 rgba(255, 0, 0, 1);
}

.user_menu > a::before,
.user_menu > a::after {
    content: none;
}

.fake_link span {
    padding: 3px 10px;
    font-size: 20px;
}

.fake_link {
    font-size: 20px;
    padding: 0 10px;
    cursor: pointer;
    color: #ffffff;
}

.user_avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}