.modal_photo {
    min-height: 400px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: #ffffff;
    padding: 20px;
}

.modal_photo img {
    display: block;
    width: 100%;
    height: auto;
}

.modal_photo .btn_close {
    width: 35px;
    height: 35px;
    position: absolute;
    top: -15px;
    right: -15px;
    margin: 0;
    padding: 0;
    font-size: 30px;
    border-radius: 50%;
    line-height: 26px;
    text-align: center;
    box-shadow: none;
    border: 2px solid #fafafa;
}

.modal_photo .btn_close span {
    vertical-align: middle;
    display: inline;
}