.photo__item {
    width: 293px;
    margin: 15px;
    border: 2px solid #ff0000;
    padding: 10px;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
}

.photo__item .image {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    border: 2px solid #ffffff;
}

.photo__item .title {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}

.photo__item:hover {
    -webkit-box-shadow: 1px 0 100px 0 rgba(255, 0, 0, 1);
    -moz-box-shadow:    1px 0 100px 0 rgba(255, 0, 0, 1);
    box-shadow:         1px 0 100px 0 rgba(255, 0, 0, 1);
}

.photo__item:hover .title.author {
    color: #ff0000;
}

.photo__item .title b {
    color: #ff0000;
    width: 80px;
    display: inline-block;
}

button.delete_photo {
    padding: 10px;
    font-size: 20px;
    background: #ff0000;
    margin-top: 20px;
    float: right;
}